*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
}

.container {
    max-width: 1170px;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
}

.practice {
    width: calc(20% - 10px);
    border: 1px solid #000;
    margin: 5px;
    text-align: center;
    padding: 10px;
}

.practice.h3 {
    text-transform: uppercase;
}

.result {
    border: 1px solid #000;
    height: 40px;
}